{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions for Stage 2
{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h3>Your role is: <strong>{{ player.role }}</strong></h3>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Instructions for Stage 2 go here (for INFO treatment only)</h4>
        </div>
    </div>
      <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
