{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Snitching decision
{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h3>Your role is: <strong>{{ player.role }}</strong></h3>
    </div>
    <div class="alert alert-success" role="alert">
        <h3>
            For each level of effort made by other workers, choose whether you will inform
            a Principal about their individual decisions
        </h3>
    </div>
    {{ formset.management_form }}
    <table class="table1 table table-striped table-hover text-center ">
        <thead>
        <tr>
            <th></th>
            {% for w in player.get_other_workers %}
                <th colspan="2">Worker {{ forloop.counter }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Effort</th>
            {% for w in player.get_other_workers %}
                <th class="border-left border-primary border-bottom-0">Not inform</th>
                <th>Inform</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in Constants.cost_effort_table.keys %}
            <tr>
                <td>{{ i }}</td>
                {% for f in formset %}
                    {% if f.instance.effort == i %}

                        {% for d in f.decision %}
                            <td {%  if forloop.counter == 1 %}
                            class="border-left border-primary border-bottom-0 border-top-0"
                            {% endif %}>{% for hidden in f.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}{{ d }}</td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% next_button %}

{% endblock %}
{% block styles %}
    <style>
        .form-check-input {
             position: unset;
             margin-top: unset;
             margin-left: unset;
        }
    </style>
{% endblock %}